Dockerfile
.git
.cache

## Haskell
build-cache
mirror-cache
state
dist
tags
*.swp
.cabal-sandbox
cabal.sandbox.config
TAGS
datafiles/TUF/*.json
datafiles/TUF/*.private

## Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis